*

# ls -R --group-directories-first | awk '
# /:$/&&f{s=$0;f=0}
# /:$/&&!f{sub(/:$/,"");s=$0;f=1;next}
# NF&&f{ print s"/"$0 }' | awk '$0="!"$0' >> .gitignore

!.gitignore
!./Dll/AdInfo.cpp
!./Dll/NpfImExt.cpp
!./Dll/NpfImExt.h
!./Dll/Packet.def
!./Dll/Packet32-Int.h
!./Dll/Packet32.cpp
!./Dll/ProtInstall.cpp
!./Dll/ProtInstall.h
!./Dll/debug.h
!./Dll/netcfgapi.cpp
!./Dll/netcfgapi.h
!./Dll/strsafe.h
!./Dll/version.aps
!./Dll/version.rc
!./Dll/version.rc2
!./Dll/Extra_lib_x64/npptools.lib
!./Dll/Project/GNUmakefile
!./Dll/Project/Packet.sln
!./Dll/Project/Packet.vcxproj
!./Dll/Project/Packet.vcxproj.filters
!./Dll/WanPacket/WanPacket.cpp
!./Dll/WanPacket/WanPacket.def
!./Dll/WanPacket/WanPacket.dsp
!./Dll/WanPacket/WanPacket.dsw
!./Dll/WanPacket/WanPacket.h
!./Dll/WanPacket/version.rc
!./Dll/WanPacket/version.rc2
!./Helper/NpcapHelper
!./Helper/NpcapHelperTest
!./Helper/NpcapHelper.sln
!./Helper/debug.h
!./Helper/NpcapHelper/NpcapHelper.cpp
!./Helper/NpcapHelper/NpcapHelper.vcxproj
!./Helper/NpcapHelper/NpcapHelper.vcxproj.filters
!./Helper/NpcapHelper/resource.h
!./Helper/NpcapHelper/version.rc
!./Helper/NpcapHelper/version.rc2
!./Helper/NpcapHelperTest/NpcapHelperTest.c
!./Helper/NpcapHelperTest/NpcapHelperTest.vcxproj
!./Helper/NpcapHelperTest/NpcapHelperTest.vcxproj.filters
!./NPFInstall/NPFInstall
!./NPFInstall/NPFInstall.sln
!./NPFInstall/NPFInstall/CalloutInstall.cpp
!./NPFInstall/NPFInstall/CalloutInstall.h
!./NPFInstall/NPFInstall/DriverStoreClear.cpp
!./NPFInstall/NPFInstall/DriverStoreClear.h
!./NPFInstall/NPFInstall/LoopbackInstall.cpp
!./NPFInstall/NPFInstall/LoopbackInstall.h
!./NPFInstall/NPFInstall/LoopbackRecord.cpp
!./NPFInstall/NPFInstall/LoopbackRecord.h
!./NPFInstall/NPFInstall/LoopbackRename.cpp
!./NPFInstall/NPFInstall/LoopbackRename.h
!./NPFInstall/NPFInstall/LoopbackRename2.cpp
!./NPFInstall/NPFInstall/LoopbackRename2.h
!./NPFInstall/NPFInstall/NPFInstall.cpp
!./NPFInstall/NPFInstall/NPFInstall.exe.manifest.in
!./NPFInstall/NPFInstall/NPFInstall.vcxproj
!./NPFInstall/NPFInstall/NPFInstall.vcxproj.filters
!./NPFInstall/NPFInstall/ProcessUtil.cpp
!./NPFInstall/NPFInstall/ProcessUtil.h
!./NPFInstall/NPFInstall/RegKey.cpp
!./NPFInstall/NPFInstall/RegKey.h
!./NPFInstall/NPFInstall/RegUtil.cpp
!./NPFInstall/NPFInstall/RegUtil.h
!./NPFInstall/NPFInstall/WlanRecord.cpp
!./NPFInstall/NPFInstall/WlanRecord.h
!./NPFInstall/NPFInstall/msg.h
!./NPFInstall/NPFInstall/rc_ids.h
!./NPFInstall/NPFInstall/version.rc
!./NPFInstall/NPFInstall/version.rc2
!./WlanHelper/WlanHelper
!./WlanHelper/WlanHelper.sln
!./WlanHelper/WlanHelper/Tool.cpp
!./WlanHelper/WlanHelper/Tool.h
!./WlanHelper/WlanHelper/WlanHelper.cpp
!./WlanHelper/WlanHelper/WlanHelper.vcxproj
!./WlanHelper/WlanHelper/WlanHelper.vcxproj.filters
!./WlanHelper/WlanHelper/version.rc
!./WlanHelper/WlanHelper/version.rc2
!./npf/npf
!./npf/npf Package
!./npf/npf.sln
!./npf/npf/DEBUG.H
!./npf/npf/Lo_send.c
!./npf/npf/Lo_send.h
!./npf/npf/Loopback.c
!./npf/npf/Loopback.h
!./npf/npf/Openclos.c
!./npf/npf/Packet.c
!./npf/npf/Packet.h
!./npf/npf/Read.c
!./npf/npf/Write.c
!./npf/npf/bucket_lookup.c
!./npf/npf/bucket_lookup.h
!./npf/npf/count_packets.c
!./npf/npf/count_packets.h
!./npf/npf/dump.c
!./npf/npf/functions.c
!./npf/npf/functions.h
!./npf/npf/ieee80211_radiotap.h
!./npf/npf/ioctls.h
!./npf/npf/jitter.c
!./npf/npf/jitter.h
!./npf/npf/macros.h
!./npf/npf/memory_t.h
!./npf/npf/normal_lookup.c
!./npf/npf/normal_lookup.h
!./npf/npf/npcap.inf
!./npf/npf/npcap.rc
!./npf/npf/npcap_wfp.inf
!./npf/npf/npf.inf
!./npf/npf/npf.rc
!./npf/npf/npf.vcxproj
!./npf/npf/npf.vcxproj.filters
!./npf/npf/npf_wfp.inf
!./npf/npf/stdafx.h
!./npf/npf/tcp_session.c
!./npf/npf/tcp_session.h
!./npf/npf/time_calls.h
!./npf/npf/tme.c
!./npf/npf/tme.h
!./npf/npf/valid_insns.h
!./npf/npf/win_bpf.h
!./npf/npf/win_bpf_filter.c
!./npf/npf/win_bpf_filter_init.c
!./npf/npf/win_bpf_filter_init.h
!./npf/npf Package/npf Package.vcxproj
